.add-workflow-icon-fullscreen{
    cursor: pointer;
    padding-top: 0.5rem;
    padding-left: 1rem
}

.clone-workflow-icon{
    cursor: pointer;
    padding-left: 1rem 
}

.workflow-sidebar{
    max-height: 74vh;
    overflow-y: auto;
}

.workflow-selected{
    /* color: #fff; */
}

.workflow-option .active{
    /* background: #071739; */
    background: cyan;
    color: #fff;
}

.workflow-option{
    cursor: pointer;
}

.workflow-options-card{
    min-height: 130px;
}

.search-box{
    position: relative;
}

.workflow-search{
    border-radius: 15px;
    width: 100%;
    height: 40px;
    padding-right: 0.4rem; 
    padding-left: 0.1rem; 
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.loader-spinner-parent{
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.loader-spinner-parent .spinner-border{
    --bs-spinner-width:1rem;
    --bs-spinner-height:1rem
}

.no-workflows-message{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-display{
    max-height: 100%;
    overflow-y: auto;
}

.form-viewer-box{
    /* max-height: 85vh;
    overflow-y: scroll; */
}

.joyride-tour{
    margin-right: 1rem;
}